/* 경고창-full layout */
#alert {}
#alert .container {margin: 10px auto;}

/* 경고창-container layout */
.alert {}
.alert h2 {
    display: none;
    box-sizing: border-box;
    width: 100%; height: 30px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem; font-weight: 550; line-height: 10px;
    color: white;
}

.alert h2.success {
    display: block;
    background-color: #28a745;
}

.alert h2.warning {
    display: block;
    background-color: #ffc107;
}

.alert h2.delete {
    display: block;
    background-color: #dc3545;
}